@font-face {
    font-family: myFirstFont;
    src: url(fonts/Norse-Bold.otf);
  }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    
}

#website {
    display: flex;
    min-height: 669px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33%;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    height: 115px;
    width: 100%;
}

h1 {
    padding-top: 20px;
    font-family: myFirstFont;
    font-size: 60pt;
}

#odin-logo {
    height: 95px;
}


.leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/cecilia-frost-M9D3poaqPzk-unsplashRESIZED.jpg);
    background-size: 550px;
    background-position: center; 
    width: 70%;
    height: 100vh;
    min-height: 669px;
}

.leftside p {
    color: lightgray;
    text-align: center;
    font-size: small;
}
.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(249, 249, 249);
}

#top-text {
    margin-top: 50px;
    margin-right: 150px;
}

form {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px -10px gray;
 }

 #form-innards {
    display: flex;
 }

 input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

label,input{
    display:flex;
    flex-direction:column;
    margin: 5px;
  }

input:focus {
  background: rgb(0 0 0 / 10%);
}

 #left-form, #right-form {
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 50;
    font-size: smaller;
}

#right-form {
    padding-left: 75px;
}

#bottom-text {
    margin-top: 50px;
    margin-left: 25px;
    text-align:justify;
}

#top-text { 
    margin-left: 25px;
    margin-bottom: 50px;
}