body {
    font-family: 'Courier New', Courier, monospace;
}

#website {
    display: flex;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    height: 115px;
    width: 100%;
}



#odin-logo {
    height: 95px;
}


.leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/cecilia-frost-M9D3poaqPzk-unsplashRESIZED.jpg);
    background-size: 550px;
    background-position: center; 
    width: 70%;
    height: 100vh;
}

.leftside p {
    color: lightgray;
    text-align: center;
    font-size: small;
}
.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
}

#form {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    background-color: white;
    display: flex;
    
    
}

.form-example {
    overflow: hidden;
  }
  
.form-example label {
    display: block;
    width: 50%;
    float: left;
  }

#bottom-text {
    margin-top: 50px;
    margin-left: 25px;
    text-align:justify;
}

#top-text { 
    margin-left: 25px;
    margin-bottom: 50px;
}