#website {
    display: flex;
}



#sidebar {
    width: 450px;
}

#rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
}

#form {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}